html {
    scroll-behavior: smooth;
  }
  
  .navbar {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  
